body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}

main {
    max-width: 900px;
    margin: 0 auto;
    padding: 16px;
}

section {
    margin-bottom: 24px;
}

img {
    max-width: 100%;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
}
button {
    margin-top: 8px;
}

footer{
    text-align: center;
    margin-top: 8px;
}